<nav  class="bg-white border-gray-200 dark:bg-gray-900">
  <div data-controller="dropdown" class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 relative">
    <a href="<%=root_path%>" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/assets/logo.png" class="h-8" alt="Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">LinkFriend</span>
    </a>
    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse relative">
      <button data-action="click->dropdown#toggleNotificationMenu" type="button" class="me-4 flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="notification-menu-button" aria-expanded="false" data-dropdown-toggle="notification-dropdown" data-dropdown-placement="bottom">
        <span class="sr-only">Open notifications menu</span>
        <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V4a2 2 0 10-4 0v1.341A6.002 6.002 0 006 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 01-6 0v-1m6 0H9" />
        </svg>
      </button>
      <!-- Notification Dropdown -->
      <div data-dropdown-target="notification"  data-action="click@window->dropdown#outsideClick" class=" hidden absolute z-50 top-full right-9 w-48  my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600 " id="user-dropdown" id="notification-dropdown">
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-900 dark:text-white">Notifications</span>
        </div>
        <ul class="py-2" aria-labelledby="notification-menu-button">
          <div id="messages"></div>
          <%if !user_notifications.empty?%>
            <% user_notifications.each do |notification|%>
            <%= render 'shared/notification' ,notification: notification%>
            <%end%>
          <%else%>
            <p class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">No new notifications</p>
          <%end%>
        </ul>
      </div>
      <button type="button" data-action="click->dropdown#toggleUserMenu" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown">
        <span class="sr-only">Open user menu</span>
        <%= image_tag(user_profile_photo(current_user), class: "w-8 h-8 rounded-full") %>  
      </button>
      <!-- Dropdown menu -->
      <div data-dropdown-target="usermenu" data-action="click@window->dropdown#outsideClick" class="absolute z-50 hidden top-full right-0 w-48  my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600 " id="user-dropdown">
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-900 dark:text-white"><%= user_name(current_user) %></span>
          <span class="block text-sm  text-gray-500 truncate dark:text-gray-400"><%= user_email(current_user) %></span>
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li>
            <%= link_to "Profile", user_path(current_user), class:"block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
          </li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class:"block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
          </li>
        </ul>
      </div>
      <button data-action="click->dropdown#toggleBurgerMenu" data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" id="user-menu-nav"aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>
    <div data-dropdown-target="burgermenu" data-action="click@window->dropdown#outsideClick" class="items-center md:mr-[6.8rem] justify-between top-full right-0 hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul class="flex flex-col font-medium p-4 md:p-0  border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <%= link_to "Posts", posts_path, class:"block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" %>
        </li>
        <li>
          <a href="#" class=""></a>
          <%= link_to "People", users_path, class:"block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" %>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Chats</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
