<div>
     <ul class="divide-y divide-gray-200 dark:divide-gray-700">
       <% users.each do |user| %>
         <li class="py-3 sm:py-4">
             <div class="flex items-center space-x-4">
                 <div class="flex-shrink-0">
                      <%= image_tag(user_profile_photo(user), class: "w-8 h-8 rounded-full") %>
                 </div>
                 <div class="flex-1 min-w-0">
                     <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                         <%= user_name(user) %>
                     </p>
                     <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                         <%= user_email(user) %>
                     </p>
                 </div>
                 <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                    <%if Follow.pending_field(user.id,current_user.id)&.pending %>
                    <%= button_to "Accept Request",accept_request_path(user), method: :post, form_class:"flex gap-2 px-2",class:"flex-1 text-sm rounded-full bg-blue-600 dark:bg-blue-800 text-white dark:text-white antialiased font-bold hover:bg-blue-800 dark:hover:bg-blue-900 px-4 py-2"%>
                    <%= button_to "Cancel Request",cancel_request_path(user), method: :post, form_class:"flex gap-2 px-2",class:"flex-1 text-sm rounded-full bg-blue-600 dark:bg-blue-800 text-white dark:text-white antialiased font-bold hover:bg-blue-800 dark:hover:bg-blue-900 px-4 py-2"%>
                    <%else%>
                    <%= button_to follow_unfollow_button(user)[:label],follow_unfollow_button(user)[:path], method: follow_unfollow_button(user)[:method]  ,form_class:"flex gap-2 px-2",class:"flex-1 text-sm rounded-full bg-blue-600 dark:bg-blue-800 text-white dark:text-white antialiased font-bold hover:bg-blue-800 dark:hover:bg-blue-900 px-4 py-2"%>
                    <%end%>

                 </div>
             </div>
         </li>
         <%end%>
      </ul>
</div>