<div class="bg-white min-h-screen dark:bg-gray-800">
<div class="container max-w-7xl px-6 py-10 mx-auto">  
<div class="mb-1 max-w-5xl mx-auto bg-white dark:bg-gray-900 dark:border-blue-500 border-b rounded-lg shadow-md p-6">
<%= form_with model: @post do |form| %>
  <div class="flex items-center space-x-4">
    <%= image_tag(user_profile_photo(current_user), class: "text-white w-12 h-12 rounded-full") %>  
    <%= form.text_area :body,placeholder: "Write something...", id:"post-box", class: "text-white flex-1 border-b border-gray-200 dark:border-gray-700 focus:outline-none focus:border-blue-500 p-2 rounded-md dark:bg-[#1a202c]" %>
  </div>
  <div class="flex justify-end mt-4">
    <%= form.file_field :photo, class: "hidden", id: "photo-upload", accept: "image/*" %>
    <label for="photo-upload" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none mr-2 dark:bg-gray-700 cursor-pointer">Add Photo</label>
    <%= form.submit "Post", class: "px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none dark:bg-gray-700"%>
  </div>
<% end %>
</div>  
<br>
  <%= render 'shared/post' , posts: @posts , comment: @comment%>

</div>
</div>